[submodule "backend"]
	path = backend
	url = /home/aleks/Projects/hmcs/backend
	branch = main
[submodule "hmcs-frontend-client"]
	path = frontend
	url = /home/aleks/Projects/hmcs/hmcs-frontend-client
