[submodule "backend"]
	path = backend
	url = /home/aleks/Projects/hmcs/backend
	branch = develop
[submodule "hmcs-frontend-client"]
	path = hmcs-frontend-client
	url = /home/aleks/Projects/hmcs/frontend
[submodule "frontend"]
	branch = develop
